@import '/css/reset.css';
@font-face {
  font-family: 'Shrek';
  src: url('../fonts/shrek.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items:center;
}
.container {
    display: flex;
    flex-direction: column;
    border:5px solid rgb(147, 100, 5);
    background-color: rgb(114, 241, 50);
    overflow: hidden;
    text-align: center;
    flex-wrap:wrap;
}
.image {
    align-self: center; 
}

.name {
font-size: 4rem;
font-family: 'Shrek';
}


@media screen and (min-width:500px) {
    
    .image {
    justify-self: center;
    }
    .container {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height:90vh;

    }

    .image {
     grid-column: 1 / -1;   
    }

    .leftsidetext {
        grid-row:2;
        grid-column:1;
        justify-items: center;
        align-content: center;
    }
    .rightsidetext {
        grid-row:2;
        grid-column: 2;
        justify-items: center;
        align-content: center;
    }

}

@media (min-width:768px ) {

    .image { 
        grid-column: 1;
        grid-row:1/-1;
        align-content:center;
    } 



    .leftsidetext {
        grid-row: 1;
        grid-column: 2;
        justify-items: center;


    }

    .rightsidetext {
        grid-row: 2;
        grid-column: 2;
        justify-items: center;

    }

}

